.css-gjf6g1 {
    margin: 16px auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1264px;
    min-height: 77vh;
}
.css-mec48l {
    border-top: 3px solid rgb(20, 53, 195);
    position: relative;
}

.css-nepxcf {
    display: none;
    z-index: 1030;
    position: fixed;
    bottom: 10rem;
    right: 3rem;
    cursor: pointer;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

.css-qhcj37 {
    border-radius: 50%;
    background-color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.08);
}

.css-nepxcf {
    display: none;
    z-index: 1030;
    position: fixed;
    bottom: 10rem;
    right: 3rem;
    cursor: pointer;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

.css-25mhin {
    z-index: 1030;
    position: fixed;
    right: 2.5rem;
    bottom: 5.6rem;
    cursor: pointer;
}
.css-vj7q1h {
    cursor: pointer;
    overflow: visible;
    line-height: 1rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    text-decoration: none;
    flex-direction: row;
    position: relative;
    width: 100%;
    padding: 1rem 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(20, 53, 195);
    margin-bottom: 4px;
    border-radius: 8px;
    border: 1px dashed rgb(216, 216, 216);
}

.css-1fmhjdx {
    -webkit-mask: url(https://shopfront-cdn.tekoapis.com/static/949377dd1535d300.svg) center center / contain no-repeat;
    mask: url(https://shopfront-cdn.tekoapis.com/static/949377dd1535d300.svg);
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: var(--button-icon-color, #757575);
}
.css-1x3u27e {
    width: 0.4rem;
    height: 0.4rem;
}