.css-gjf6g1 {
  margin: 16px auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1264px;
  min-height: 77vh;
}
.css-mec48l {
  border-top: 3px solid rgb(20, 53, 195);
  position: relative;
}

.css-nepxcf {
  display: none;
  z-index: 1030;
  position: fixed;
  bottom: 10rem;
  right: 3rem;
  cursor: pointer;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

.css-qhcj37 {
  border-radius: 50%;
  background-color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.08);
}

.css-nepxcf {
  display: none;
  z-index: 1030;
  position: fixed;
  bottom: 10rem;
  right: 3rem;
  cursor: pointer;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

.css-25mhin {
  z-index: 1030;
  position: fixed;
  right: 2.5rem;
  bottom: 5.6rem;
  cursor: pointer;
}
.css-vj7q1h {
  cursor: pointer;
  overflow: visible;
  line-height: 1rem;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  text-decoration: none;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 1rem 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(20, 53, 195);
  margin-bottom: 4px;
  border-radius: 8px;
  border: 1px dashed rgb(216, 216, 216);
}

.css-1fmhjdx {
  -webkit-mask: url(https://shopfront-cdn.tekoapis.com/static/949377dd1535d300.svg)
    center center / contain no-repeat;
  mask: url(https://shopfront-cdn.tekoapis.com/static/949377dd1535d300.svg);
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: var(--button-icon-color, #757575);
}
.css-1x3u27e {
  width: 0.4rem;
  height: 0.4rem;
}

.css-8mjjgr {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-top: 0.75rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.css-1qrgscwe {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-1qrgscwe.teko-row {
  display: flex;
  flex-flow: wrap;
}

.css-1qrgscwe.teko-row-middle {
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .css-1qrgscwe.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-1qrgscwe.teko-row-space-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.css-17ajfcv {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-17ajfcv.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

@media (min-width: 1024px) {
  .css-1qrgscwe.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-1qrgscwe.teko-row {
  display: flex;
  flex-flow: wrap;
}

.css-1qrgscwe {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.css-1qrgscwe.teko-row-start {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.css-1qrgscwe.teko-row-middle {
  -webkit-box-align: center;
  align-items: center;
}

.css-lzq1g0 {
    margin: 0px 0.5rem 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: 300px;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1lihu4j {
    margin: 0.25rem 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1npqwgp {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-17ajfcv {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-17ajfcv.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-1j6k1oa {
  opacity: 1;
  height: 2rem;
  padding: 0rem 1.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  min-width: 2rem;
  cursor: pointer;
  transition-duration: 80ms;
  transition-property: background-color;
  border: 1.5px solid rgb(218, 67, 67);
}

.css-1sjnqcx {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(218, 67, 67);
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-157jl91 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
}

.css-1wblz1b {
  opacity: 1;
  height: 2rem;
  margin-left: 0.5rem;
  padding: 0rem 1.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  min-width: 2rem;
  cursor: pointer;
  transition-duration: 80ms;
  transition-property: background-color;
  border: 1.5px solid rgb(188, 191, 214);
}

.css-ughm7k {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: rgb(67, 70, 87);
  font-weight: 500;
  text-decoration: unset;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: unset;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.css-157jl91 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: inherit;
}
