.css-cssveg{
    position: relative;
}

.css-27abj6 {
    position: relative;
    /* -webkit-transition: opacity 0.3s; */
    transition: opacity 0.3s;
}

.css-163sceo {
    display: none;
}

.css-bvrx60 {
    margin: 16px auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1264px;
    min-height: 70vh;
}

.css-1sqnsff {
    width: 100%;
    text-align: center;
}

.css-1sqnsff img {
    width: 80px;
}

.css-1i20i3 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    padding: 25px;
    color: red;
    text-transform: uppercase;
}

.css-15z799l.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-15z799l.teko-row-no-wrap {
    flex-wrap: nowrap;
}

@media (min-width: 1024px)
{
    .css-15z799l.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-15z799l.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-15z799l {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding: 2rem 1rem 0px;
}

.css-17ajfcv.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-17ajfcv {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-1qrgscw.teko-row-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-1qrgscw.teko-row-no-wrap {
    flex-wrap: nowrap;
}

@media (min-width: 1024px)
{
    .css-1qrgscw.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-1qrgscw.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-1qrgscw {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-olmswc {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 4.875rem;
    border: 1px solid rgb(228, 229, 240);
}

.css-1qrgscw.teko-row-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.css-1yqf0rb {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    width: max-content;
    display: inline-block;
    color: rgb(20, 53, 195);
    font-weight: 700;
}

.css-10zxjrh {
    text-decoration: line-through;
    color: rgb(130, 134, 158);
    font-size: 0.75rem;
}

.css-taqq0j.teko-row-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.css-taqq0j.teko-row-no-wrap {
    flex-wrap: nowrap;
}

@media (min-width: 1024px)
{
    .css-taqq0j.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-taqq0j.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-taqq0j {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    width: 70%;
    padding: 0.25rem 1rem;
}

.css-1bpl8h5 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 1.5rem;
    border: 1px solid rgb(228, 229, 240);
}

.css-1v1xspx {
    padding: 1rem;
    margin-top: 2rem;
}

.css-l1po7j {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.css-33wqqr.teko-row-top {
    align-items: flex-start;
}

.css-33wqqr.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media (min-width: 1024px)
{
    .css-33wqqr.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-33wqqr.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-33wqqr {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-bottom: 0.25rem;
}

.css-1lg3tx0 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
}

.css-nbdyuc {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-172d5l5 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 500;
    text-decoration: unset;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-tqzoy9 {
    display: flex;
    padding: 1rem 0px;
    align-items: flex-end;
    column-gap: 0.25rem;
}

.css-1s8chay {
    color: rgb(130, 134, 158);
    text-decoration: none;
}

.css-kwe6s1 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
    overflow: unset;
    white-space: nowrap;
    line-height: 17px;
}

.css-889chh {
    text-align: right;
}

.css-26qhcs path[stroke]{
    stroke: rgb(167, 171, 195);
}

.css-4jp5hh {
    color: rgb(130, 134, 158);
    text-decoration: none;
    pointer-events: none;
}

.css-tqzoy9 .breadcrumb-item:last-child div {
    overflow: hidden;
    white-space: unset;
}

.css-117j3zt {
    box-sizing: border-box;
    margin: 0px 0px 16px;
    min-width: 0px;
    display: flex;
}

.css-8x68m {
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    width: 67%;
}

.css-1knbux5 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1cp1h79 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 24px;
    line-height: 32px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-tj2ae3 {
    /* cursor: pointer; */
    border-radius: 4px;
    overflow: hidden;
    line-height: 1rem;
    padding: 0.365rem 0.75rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    color: rgb(125, 210, 235);
    border-width: 1px;
    border-style: solid;
    user-select: none;
    text-decoration: none;
    flex-direction: row;
    position: relative;
}

.css-8xcfft {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 33%;
}

.css-1vczc1y {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.css-1rllob8 {
    /* cursor: pointer; */
    border-radius: 4px;
    overflow: hidden;
    padding: 0.365rem 0.75rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    color: rgb(33, 33, 33);
    user-select: none;
    text-decoration: none;
    flex-direction: row;
    position: relative;
    display: flex;
    background: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
    line-height: unset;
}

.css-1denlqa {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.css-er4drj {
    -webkit-mask: url(https://shopfront-cdn.tekoapis.com/static/5a2fda8b57935427.svg) center center / contain no-repeat;
    mask: url(https://shopfront-cdn.tekoapis.com/static/5a2fda8b57935427.svg);
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--button-icon-color, #757575);
    transition: transform 0.2s ease-in-out 0s;
    transform: rotate(180deg);
    position: relative;
    margin-left: 2px;
}

.css-4cffwv {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
}

.css-1jky165 {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 1rem;
}

.css-8m0ae5.teko-row-middle {
    -webkit-box-align: center;
    align-items: center;
}

.css-8m0ae5.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media (min-width: 1024px)
{
    .css-8m0ae5.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-8m0ae5.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-8m0ae5 {
    border-style: none none solid;
    border-width: 1px;
    border-top-color: unset;
    border-right-color: unset;
    border-left-color: unset;
    opacity: 1;
    padding: 1rem;
    border-bottom-color: rgb(234, 234, 234);
}

.css-1u2186j {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: unset;
    cursor: pointer;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-l24w9c {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
}

.css-11kbzq0 {
    position: absolute;
    inset: 0px;
    z-index: 1;
    width: 16px;
    height: 16px;
    margin: auto;
    cursor: pointer;
    opacity: 0;
}

.css-rumpju {
    position: absolute;
    inset: 0px;
    width: 16px;
    height: 16px;
    margin: auto;
    border: 1px solid rgb(20, 53, 195);
    border-radius: 2px;
    background-color: rgb(20, 53, 195);
}

.css-5ju3er {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.css-5ju3er path[stroke] {
    stroke: rgb(255, 255, 255);
}

.css-5ju3er path {
    stroke-width: 5;
}

.css-1qrgscw.teko-row-middle {
    -webkit-box-align: center;
    align-items: center;
}

.css-1qrgscw.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-17ajfcv.teko-col-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
}

.css-1j4ksfn {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    background: white;
    border-radius: 0.5rem;
}

.css-4eq9p2 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-14k6732.teko-col-2 {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.css-14k6732.teko-col {
    position: relative;
    /* max-width: 100%; */
    min-height: 1px;
}

.css-14k6732 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding-right: 1rem;
    text-align: right;
}

.css-1dqxh16 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-12rwhn9.teko-col-2 {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.css-12rwhn9.teko-col {
    position: relative;
    /* max-width: 100%; */
    min-height: 1px;
}

.css-12rwhn9 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    text-align: center;
}

.css-16l9z17.teko-col-2 {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.css-16l9z17.teko-col {
    position: relative;
    /* max-width: 100%; */
    min-height: 1px;
}

.css-16l9z17 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    text-align: right;
}

.css-ehdnal {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding: 1rem;
    background-color: white;
}

.css-17ajfcv.teko-col {
    position: relative;
    /* max-width: 100%; */
    min-height: 1px;
}

.css-vhnop0 {
    display: flex;
    gap: 12px;
}

.css-cbrxda {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

.css-1i7enn7 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 80px;
    width: 80px;
    border: 1px solid rgb(228, 229, 240);
}

.css-yp9swi {
    flex: 1 1 0%;
}

.css-1h5tj4c {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(67, 70, 87);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1ly96sc {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(247, 130, 18);
    font-weight: 400;
    text-decoration: unset;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1g0wtwt.teko-col-2 {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.css-1g0wtwt.teko-col {
    position: relative;
    /* max-width: 100%; */
    min-height: 1px;
}

.css-1g0wtwt {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding-right: 1rem;
}

.css-rmdhxt {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    width: max-content;
    display: inline-block;
    color: inherit;
    font-size: 1rem;
    font-weight: bold;
}

.css-17ajfcv.teko-col-2 {
    display: block;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.css-1oskuwq {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.css-1qgaj65 {
    opacity: 1;
    height: 2rem;
    width: 6.375rem;
    border-radius: 0.25rem;
    background: rgb(248, 248, 252);
    border: 1px solid rgb(228, 229, 240);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}

.css-1kcvffe {
    height: 100%;
    width: 2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    border: none;
    background: transparent;
    cursor: not-allowed;
}

.css-1orfikq {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-cpb1o path:not([stroke]) {
    fill: rgb(210, 210, 210);
}

.css-ktgpr2 {
    flex: 1 1 0%;
}

.css-ktgpr2 .wrap-input-number {
    padding: 0px;
    border: none;
    background-color: transparent;
}

.css-1edkzvw {
    opacity: 1;
    height: 40px;
    padding-right: 0rem;
    background: white;
    border: 1px solid rgb(228, 229, 240);
    border-radius: 4px;
    display: flex;
    padding-left: 0.75rem;
}

.css-1edkzvw .rc-input-number {
    position: relative;
    flex: 1 1 0%;
    padding: 0px 1px;
}

.css-1edkzvw .rc-input-number-input-wrap {
    height: 100%;
}

.css-1edkzvw .rc-input-number-input-wrap input {
    width: 100%;
    height: 100%;
    outline: 0px;
    border: 0px;
}

.css-ktgpr2 .wrap-input-number input {
    text-align: center;
    background-color: transparent;
    font-size: 0.8125rem;
    font-weight: 500;
    color: rgb(67, 70, 87);
}

.css-1i77det {
    height: 100%;
    width: 2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border: none;
    background: transparent;
}

.css-g427p8 path:not([stroke]){
    fill: rgb(67, 70, 87);
}

.css-3c7poi {
    margin: 12px 0px 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
    cursor: pointer;
    color: rgb(25, 144, 255);
}

.css-cudft.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-cudft {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding: 8px 0px;
    margin: 12px 0px;
    background-color: rgb(243, 243, 247);
    border-radius: 4px;
}

.css-6q9u1e {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    width: 100%;
    margin: 0.25rem 1rem;
}

.css-1q4g17t.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-1q4g17t {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    padding-right: 0.75rem;
}

.css-11m9qpq {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    overflow: initial;
}

.css-oi0lj1.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-oi0lj1 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    width: 100%;
}

.css-1lchwqw {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1wvh353.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-1wvh353 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-26qhcs path[stroke]
{
    stroke: rgb(167, 171, 195);
}

.css-127zbo8 {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 1rem;
    margin-top: 0px;
}

.css-kfv2zc {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    color: rgb(25, 144, 255) !important;
}

.css-twos5s {
    font-size: 15px;
    line-height: 24px;
    margin-right: 12px;
    color: rgb(130, 134, 158);
}

.css-1pmyljg {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
}

@media (min-width: 1024px)
{
    .css-33wqqr.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-v463h2 {
    /* cursor: pointer; */
    border-radius: 4px;
    overflow: hidden;
    line-height: 1rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(20, 53, 195);
    border-color: rgb(20, 53, 195);
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    user-select: none;
    text-decoration: none;
    flex-direction: row;
    position: relative;
    width: 100%;
    padding: 0.7rem 1rem;
    margin-top: 1rem;
}

.css-1272naz {
    position: absolute;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1000;
}

.css-t2ptn2.teko-modal-show {
    pointer-events: visible;
    opacity: 1 !important;
}

.css-t2ptn2 {
    width: 520px;
    max-width: 95%;
}

.css-t2ptn2.teko-modal-show .teko-modal-content {
    transform: translateY(0px);
    z-index: 1050;
}

.css-t2ptn2 .teko-modal-content {
    padding: 24px;
    transition: all 0.2s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 16px, rgba(0, 0, 0, 0.05) 0px 8px 16px;
    border-radius: 8px;
    position: relative;
}

.css-t2ptn2 .teko-modal-content .teko-modal-close {
    position: absolute;
    z-index: 1000;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.css-1qzn8fv path:not([stroke]){
    fill: rgb(0, 0, 0);
}

.css-t2ptn2 .teko-modal-content .teko-modal-header .teko-modal-title.teko-modal-title-centered {
    text-align: center;
}

.css-t2ptn2 .teko-modal-content .teko-modal-header .teko-modal-title {
    margin-bottom: 24px;
    color: rgb(27, 29, 41);
}

.css-1cp1h79 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 24px;
    line-height: 32px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-t2ptn2 .teko-modal-content .teko-modal-body {
    font-size: 13px;
    line-height: 20px;
    overflow-wrap: break-word;
}

.css-t2ptn2 .teko-modal-content .teko-modal-footer.teko-modal-footer-center {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-t2ptn2 .teko-modal-content .teko-modal-footer {
    margin-top: 24px;
}

button:not(:disabled){
    cursor: pointer;
}

.css-12b53wj {
    opacity: 1;
    height: 2.5rem;
    margin-right: 0.75rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid rgb(228, 229, 240);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: background-color;
}

.css-157jl91 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    border-radius: inherit;
}

.css-fhio94 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: rgb(20, 53, 195);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: background-color;
}

button:not(:disabled), [type='button']:not(:disabled){
    cursor: pointer;
}

.css-2h64mz {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-157jl91 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    border-radius: inherit;
}

.css-gfk8lf {
    position: absolute;
    inset: 0px;
    width: 16px;
    height: 16px;
    margin: auto;
    border: 1px solid rgb(228, 229, 240);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.css-u5ggi9 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.css-lc01j1 {
    position: absolute;
    inset: 0px;
    z-index: 1;
    width: 16px;
    height: 16px;
    margin: auto;
    cursor: pointer;
    opacity: 0;
}

.css-u5ggi9 path[stroke]{
    stroke: transparent;
}

.css-u5ggi9 path {
    stroke-width: 5;
}