

.css-t2ptn2 {
    width: 520px;
    max-width: 95%;
}

.css-t2ptn2.teko-modal-show .teko-modal-content {
    transform: translateY(0px);
    z-index: 1050;
}

.css-t2ptn2 .teko-modal-content {
    padding: 24px;
    transition: all 0.2s ease-in-out 0s;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 16px, rgba(0, 0, 0, 0.05) 0px 8px 16px;
    border-radius: 8px;
    position: relative;
}

.css-t2ptn2 .teko-modal-content .teko-modal-close {
    position: absolute;
    z-index: 1000;
    top: 24px;
    right: 24px;
    cursor: pointer;
}


.css-1qzn8fv path:not([stroke]), .css-1qzn8fv rect:not([stroke]) {
    fill: rgb(0, 0, 0);
}

.css-t2ptn2 .teko-modal-content .teko-modal-close {
    position: absolute;
    z-index: 1000;
    top: 24px;
    right: 24px;
    cursor: pointer;
}


.css-t2ptn2 .teko-modal-content .teko-modal-header .teko-modal-title {
    margin-bottom: 24px;
    color: rgb(27, 29, 41);
}

.css-1cp1h79 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 24px;
    line-height: 32px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-1g8ztiq {
    overflow-y: auto;
    height: 75vh;
    padding-right: 4px;
}

@media (min-width: 1024px){
    .css-iu028d.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-iu028d {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-bottom: 16px;
}
.css-kxydk6.teko-form-vertical .teko-form-item .teko-form-item-label {
    text-align: left;
}

.css-1yvcaye.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-1yvcaye {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    text-align: right;
}

.teko-form-item .teko-form-item-label {
    text-align: left;
}

.css-1qrgscw.teko-row::before, .css-1qrgscw.teko-row::after {
    display: flex;
}

.css-17ajfcv {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

@media (min-width: 1024px){
    .css-iu028d.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-1veiyrs {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    --divider-gap: 12px;
    display: flex;
    padding-top: var(--divider-gap);
    padding-bottom: var(--divider-gap);
}

.css-yae08c {
    --divider-border-style: solid;
    --divider-color: #E4E5F0;
    --divider-border-width: 1px;
    display: flex;
    width: 100%;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color);
}


.css-6k3r5e {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1qrgscw {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-1qrgscw.teko-row {
    display: flex;
    flex-flow: wrap;
}

@media (min-width: 1024px){
    .css-1qrgscw.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
    
}

.css-t2ptn2 .teko-modal-content .teko-modal-body {
    font-size: 13px;
    line-height: 20px;
    overflow-wrap: break-word;
}

.css-t2ptn2.teko-modal-show {
    pointer-events: visible;
    opacity: 1 !important;
}

.css-1qrgscw.teko-row::before, .css-1qrgscw.teko-row::after {
    display: flex;
}

.css-17ajfcv {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-17ajfcv.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

@media (min-width: 1024px){
    .css-iu028d.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-iu028d.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-iu028d.teko-row::before, .css-iu028d.teko-row::after {
    display: flex;
}

.css-kxydk6.teko-form-vertical .teko-form-item {
    flex-direction: column;
}
@media (min-width: 1024px){
    .css-iu028d.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.teko-modal-body {
    font-size: 13px;
    line-height: 20px;
    overflow-wrap: break-word;
}



.css-15ognui.teko-form-item-no-colon {
    margin-right: 8px;
}

.css-15ognui {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}


.css-15ognui.teko-form-item-required::before {
    display: inline-block;
    margin-right: 4px;
    color: rgb(255, 77, 79);
    font-size: 12px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.css-15ognui.teko-form-item-no-colon::after {
    display: none;
}

.css-15ognui::after {
    content: ":";
    position: relative;
    top: -0.5px;
    margin: 0px 8px 0px 2px;
}
.css-3mfztx {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(27, 29, 41);
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: visible;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-rznjps {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-rznjps.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-rznjps.teko-form-item-control {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-rznjps.teko-form-item-control .teko-form-item-control-input {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-rznjps.teko-form-item-control .teko-form-item-control-input .teko-form-item-control-input-content {
    flex: 1 1 auto;
    max-width: 100%;
}

.css-kwckz4 {
    border-style: solid;
    border-radius: 0.25rem;
    border-width: 1px;
    opacity: 1;
    height: 40px;
    padding: 0rem 0.75rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-color: rgb(224, 224, 224);
}

.css-1acir1a {
    background-color: inherit;
}

.css-kwckz4 input {
    flex: 1 1 0%;
    width: 100%;
    border: none;
    font-size: 13px;
    color: rgb(67, 70, 87);
}


.css-cssveg {
    position: relative;
}

.css-wds49r {
    height: 2.5rem;
    border-radius: 0.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(228, 229, 240);
    overflow: visible;
    user-select: none;
    cursor: not-allowed;
    background: rgb(246, 246, 246);
}

.css-w9zq4w {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    width: 100%;
}


.css-w9zq4w .input-container {
    border-style: none !important;
}

.css-zujl7w {
    border-style: solid;
    border-radius: 0.25rem;
    border-width: 1px;
    opacity: 1;
    height: 40px;
    padding: 0rem 0.75rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-color: rgb(246, 246, 246);
    background-color: rgb(246, 246, 246);
    overflow: visible;
}

.css-1mfzix3.teko-row-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
}
@media (min-width: 1024px){
    .css-1mfzix3.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-1mfzix3.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-1mfzix3 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 24px;
    left: 0px;
    right: 24px;
    padding-top: 12px;
}
.css-125hckg {
    opacity: 1;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(20, 53, 195);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    color: rgb(20, 53, 195);
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: background-color;
}
.css-uce8nc {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(20, 53, 195);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-oyymsr {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    height: 2.5rem;
    margin-left: 0.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: rgb(20, 53, 195);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: background-color;
}
.css-2h64mz {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-1npt3uz {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

@media (min-width: 1024px){
    .css-15vgeje.teko-row {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.css-15vgeje.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-15vgeje.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-15vgeje {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    margin-bottom: 0.5rem;
}
.css-10fj0sh {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    height: 40px;
    margin-left: 0.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-cg6cr2 {
    background: rgb(255, 255, 255);
    height: 2.5rem;
    border-radius: 0.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(228, 229, 240);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.css-11md2ba path:not([stroke]), .css-11md2ba rect:not([stroke]) {
    fill: #82869E;
}

.css-zujl7w input {
    flex: 1 1 0%;
    width: 100%;
    border: none;
    font-size: 13px;
    color: rgb(228, 229, 240);
}

.css-1ezclw1 {
    position: absolute;
    animation-duration: 0.2s;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: transform 0.3s ease 0s;
    background: transparent;
}

.css-1qrgscw.teko-row-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
}


.css-1u2186j {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: unset;
    cursor: pointer;
    list-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-l24w9c {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
}

.css-11kbzq0 {
    position: absolute;
    inset: 0px;
    z-index: 1;
    width: 16px;
    height: 16px;
    margin: auto;
    cursor: pointer;
    opacity: 0;
}

.css-rumpju {
    position: absolute;
    inset: 0px;
    width: 16px;
    height: 16px;
    margin: auto;
    border: 1px solid rgb(20, 53, 195);
    border-radius: 2px;
    background-color: rgb(20, 53, 195);
}

.css-5ju3er {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.css-5ju3er path[stroke], .css-5ju3er rect[stroke], .css-5ju3er line {
    stroke: rgb(255, 255, 255);
}

.css-5ju3er path {
    stroke-width: 5;
}

.css-6r3s23 {
    margin: 0px 0px 0px 0.25rem;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-157jl91 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    border-radius: inherit;
}



.css-1qrgscw.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}