.css-position-relative {
  position: relative;
}

.css-w22-h22 {
  width: 22px;
  height: 22px;
}

.home-page--container {
  position: relative;
  content-visibility: auto;
  margin-bottom: 24px;
  min-height: 600px;
}

.home-page--main-child.teko-row-space-around {
  justify-content: space-around;
}

.home-page--main {
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  max-width: 1232px;
}

@media (min-width: 1024px) {
  .home-page--main-child.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.home-page--main-child.teko-row {
  display: flex;
  flex-flow: wrap;
}

.home-page--main-child {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.home-page--main-child-left.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.home-page--main-child-left.teko-col-2 {
  display: block;
  flex: 0 0 16.66%;
  max-width: 16.66%;
}

.home-page--main-child-left {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  padding-top: 1rem;
}

.home-page--main-child-left-main {
  border-radius: 0.5rem;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  width: 12.375rem;
  height: 28.5rem;
  z-index: 980;
}

.home-page--main-child-left-main a:hover{
  color: #024dbc;
}

.home-page--main-child-left-main-child {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: black;
  text-decoration: none;
}

.home-page--category-child {
  height: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.home-page--category-child:hover {
  background-color: #f3f5fc;
  color: #1435c3;
}

.home-page--category-child-icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.home-page--category-child-goods {
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  color: inherit;
  font-weight: 600;
  text-decoration: unset;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: unset;
  min-width: unset;
  transition: color 0.3s ease 0s;
}

.home-page--back-icon {
  opacity: 0;
  z-index: 549;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  position: absolute;
  top: 39.5%;
  right: -46px;
}

.home-page--slide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}

.home-page--glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.home-page--glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.home-page--slide-main .home-page--glide__track {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.home-page--glide * {
  box-sizing: inherit;
}

.home-page--glide__slides,
.home-page--glide__track {
  overflow: hidden;
}

.home-page--slide-main .home-page--glide__slides {
  height: 100%;
}

.home-page--glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.home-page--glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.home-page--glide__slide,
.home-page--glide__slides--dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home-page--slide-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.home-page--slide-main .home-page--glide__slide a {
  width: 100%;
}

.home-page--glide__slide a {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.home-page--slide-child-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 566px;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

.home-page--slide-main .home-page--glide__bullets--override {
  bottom: 7em;
}

.home-page--glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.home-page--glide__arrows,
.home-page--glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home-page--button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
.home-page--glide__bullet {
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.home-page--child-right.teko-col-2 {
  display: block;
  flex: 0 0 16.66%;
  max-width: 16.66%;
}

.home-page--child-right.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.home-page--child-right {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  padding-top: 1rem;
}

.home-page--forward-icon {
  opacity: 0;
  z-index: 549;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  position: absolute;
  top: 39.5%;
  left: -48px;
}

.home-page--child-right-main a {
  color: #0d6efd;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.home-page--child-right-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

.home-page--child-right-main-divide {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
  height: 220px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
}

@media (min-width: 1024px) {
  .home-page--list-choose-container.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.home-page--list-choose-container.teko-row {
  display: flex;
  flex-flow: wrap;
}

.home-page--list-choose-container {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
  margin-top: -72px;
}

.home-page--list-choose.teko-col-12 {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
}

.home-page--list-choose.teko-col-3 {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}

.home-page--list-choose.teko-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.home-page--list-choose {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

@media (min-width: 1024px) {
  .home-page--list-choose-main.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .home-page--list-choose-main.teko-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.home-page--list-choose-main.teko-row {
  display: flex;
  flex-flow: wrap;
}

.home-page--list-choose-main {
  border-style: none;
  border-width: 1px;
  border-color: unset;
  opacity: 1;
}

.home-page--list-choose-child {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
}

.home-page--list-choose-child:hover, 
.home-page--child-right-main-divide:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
