.css-gjf6g1 {
    margin: 16px auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1264px;
    min-height: 77vh;
}

.css-z54kij {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-wrap: wrap;
    display: flex;
}

.css-66d1qu {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}

.css-u0wwqg {
    padding-right: 1rem;
}

.css-hveu7a {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}

.css-1qrgscw.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-1qrgscw {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}



.css-17ajfcv.teko-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.css-17ajfcv.teko-col-4 {
    display: block;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.css-17ajfcv.teko-col-8 {
    display: block;
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.css-17ajfcv {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-1hlwznm {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 1rem;
}

.css-1qrgscw.teko-row-space-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-1qrgscw.teko-row {
    display: flex;
    flex-flow: wrap;
}

.css-1qrgscw {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-1umbfo7 {
    margin-bottom: 0.5rem;
}

.css-1270aei {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 4px;
    font-size: 13px;
}

.css-90j4a3 {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgb(224, 224, 224);
    min-height: 16px;
    height: 40px;
}

.css-ekrzeo {
    margin-right: 60px;
}

.css-1ago99h {
    width: 100%;
}

.css-qpwo5p {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    border-radius: 0.25rem;
    background-color: rgb(210, 210, 210);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 2.5rem;
    color: rgb(228, 229, 240);
    cursor: not-allowed;
    transition-duration: 80ms;
    transition-property: background-color;
}

.css-1ago99h {
    width: 100%;
}

.css-1x6y1s9 {
    top: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    pointer-events: none;
    transition: transform 0.3s ease-out 0s;
}

.css-1hlwznm {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 1rem;
}

.css-17ajfcv.teko-col {
    position: relative;
    min-height: 1px;
}

.css-17ajfcv.teko-col-8 {
    display: block;
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.css-17ajfcv {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-1qrgscw {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
}

.css-hveu7a {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
}

@media screen and (min-width: 40em){
    .css-hveu7a {
        width: 66.6667%;
    }
}


@media screen and (min-width: 52em){
    .css-hveu7a {
        width: 80%;
    }
}


.css-z54kij {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-wrap: wrap;
    display: flex;
}

.css-gjf6g1 {
    margin: 16px auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1264px;
    min-height: 77vh;
}

.css-nepxcf {
    display: none;
    z-index: 1030;
    position: fixed;
    bottom: 10rem;
    right: 3rem;
    cursor: pointer;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

.css-qhcj37 {
    border-radius: 50%;
    background-color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.08);
}

.css-25mhin {
    z-index: 1030;
    position: fixed;
    right: 2.5rem;
    bottom: 5.6rem;
    cursor: pointer;
}

.css-27abj6 {
    position: relative;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.css-cssveg {
    position: relative;
}

.css-zzskb3 {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.css-11g9kr1 {
    text-decoration: none;
}

.css-1jfhcvk {
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 1px;
    list-style: none;
}

.css-u0wwqg {
    padding-right: 1rem;
}

.css-66d1qu {
    width: 20%;
}

.css-sb96m5 {
    height: 56px;
}

.css-587jha {
    color: unset;
    -webkit-text-decoration: unset;
    text-decoration: unset;
}

.css-25mhin {
    z-index: 1030;
    position: fixed;
    right: 2.5rem;
    bottom: 5.6rem;
    cursor: pointer;
}

.css-hv3z8f {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease 0s;
}

.css-tubh1u {
    margin-left: 0.5rem;
}

.css-9x44fd {
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 0.8rem;
}

.css-11aljab {
    font-size: 1rem;
}

.css-ov1ktg {
    display: flex;
}

.css-9bi3ip {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    display: flex;
    cursor: unset;
    z-index: 0;
    margin: auto;
    border-radius: 0px;
    width: 44px;
    content-visibility: auto;
    height: 44px !important;
}

.css-zzskb3 a:not([href]),
.css-zzskb3 a:not([href]):hover {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.css-1tj8dpi {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 4px 0px;
    margin: 8px 0px;
    background: unset;
    font-weight: 700 !important;
    color: rgb(20, 53, 195) !important;
}

.css-rac23i {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 0px 0.6rem;
    flex: 1 1 0%;
}

.css-1itrv06 {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 4px 0px;
    margin: 8px 0px;
    background: unset;
}

@media screen and (min-width: 40em){
    .css-66d1qu {
        width: 33.3333%;
    }
}


@media screen and (min-width: 52em) {
    .css-66d1qu {
        width: 20%;
    }
}

.css-1itrv06:hover, .css-1itrv06 .active {
    font-weight: 700 !important;
    color: rgb(20, 53, 195) !important;
}
.css-1w9reh3 {
    margin: 0px 0px 0.75rem;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: inherit;
    font-weight: 700;
    text-decoration: unset;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-1npqwgp {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}
.css-1veiyrs {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    --divider-gap: 12px;
    display: flex;
    padding-top: var(--divider-gap);
    padding-bottom: var(--divider-gap);
}
.css-15wdjv3 {
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    max-width: 168px;
    margin-bottom: 1.5rem;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    color: rgb(25, 144, 255) !important;
}

.css-yae08c {
    --divider-border-style: solid;
    --divider-color: #E4E5F0;
    --divider-border-width: 1px;
    display: flex;
    width: 100%;
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color);
}
.css-15wdjv3 div {
    display: inline;
}

.css-jxvxz7 {
    margin: 0px 0px 0px 0.75rem;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(25, 144, 255);
    font-weight: 400;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}

.css-zzrru3 path:not([stroke]), .css-zzrru3 rect:not([stroke]) {
    fill: rgb(25, 144, 255);
}


.css-17ajfcv a {
    color: #0d6efd;
    -webkit-text-decoration: underline;
    text-decoration: unset;
}

.css-17ajfcv a:hover {
    color: #0d6efd;
    -webkit-text-decoration: underline;
    text-decoration: unset;
}